#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = your_database_name
database.default.username = your_database_username
database.default.password = your_database_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# EMAIL SETUP (Google App Password)
#--------------------------------------------------------------------
email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPUser = your_email@gmail.com
email.SMTPPass = your_app_password
email.SMTPPort = 465
email.SMTPCrypto = ssl
email.mailType = html
email.fromEmail = your_email@gmail.com
email.fromName = AlumniNexus

#--------------------------------------------------------------------
# JWT Configuration
#--------------------------------------------------------------------
# Uncomment and configure these if you need JWT configuration in your .env
# JWT_SECRET_KEY = generate_a_very_long_random_string_here
# JWT_ALG = HS256
# JWT_TTL = 900
